.root {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-cursor: hand;
    /* Optional: Change cursor on hover to indicate interactivity */
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.text-area {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: lighter;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    /* -fx-padding: 10px; */
}