.root {
    -fx-padding: 20px;  
  }
  
  .radio-button {
    -fx-text-fill: #212121;
    -fx-font-size: 14px;
}

.radio-button:selected .radio  {
   -fx-background-color: #2c3e50;
   -fx-background-radius: 100%;  
}

.radio-button .radio  {
    -fx-background-color: #b8c1c6;
    -fx-background-radius: 100%;
}

.radio-button:selected .dot {
    -fx-background-color: white;
}

.radio-button .dot {
    -fx-background-color: transparent;
    -fx-background-radius: 100%;
}
  .combo-box {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
    -fx-background-radius: 6px;
    -fx-padding: 8px;
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
  }
  
  .text-field {
    -fx-background-color: #ecf0f1; /* Light gray text field */
    -fx-border-color: #bdc3c7; /* Light border color */
    -fx-padding: 8px;
}
  
  .check-box {
    -fx-text-fill: #333;
  }
  
  .button {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-padding: 8px;
    -fx-border-radius: 4px; 
  }
  
  .text-area {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-padding: 10px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 24px;
    -fx-alignment: center;  }
  .chart {
    -fx-padding: 20px;
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 4px;  
  }
  
